@import url('https://fonts.googleapis.com/css2?family=Irish+Grover&family=Mochiy+Pop+P+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik+Moonrocks&display=swap');

:root{
  --mobile: #f49eb3;
  --negro: #000000;
  --blanco: #fff;
  --fondo: #f4e7c5;
  --morado: #630132;
  --moradoOscuro: #370202;
  --violeta: #b00462;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: var(--fondo);
}

.phone {
  display: grid;
  grid-template-rows: 1fr 3fr;
  width: 200px;
  height: 450px;
  background-color: var(--mobile);
  border: 2px solid var(--negro);
  border-radius: 20px;
  padding: 10px;
  box-sizing: border-box;
  box-shadow: 5px 5px 15px var(--morado);
  /* background: linear-gradient(to bottom, #eeeeee 0%,#cccccc 100%); */
  /* box-shadow: 6px 8px 6px 8px   #630132; */
}

.phone img {
  width: 100%;
  border: 2px solid var(--negro);
  border-radius: 10px;
  align-items: center;
}

.pantalla{
  display: flex;
  justify-content: center;
}

.teclado {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin-top: 15px;
}

/* .keypad button:hover {
  background-color: #e0e0e0;
} */
.tecla {
  color: #480124;
  background-color: var(--blanco);
  border-radius: 50%;
  border: transparent;
  /* outline: none; */
  width: 50px;
  height: 50px;
  cursor: pointer;
  text-align: center;
  line-height: 50px;
  font-size: 1.75em;
  font-weight: bold;
  font-family: "Irish Grover", system-ui;
  box-shadow: 3px 3px 0 var(--morado);
  transition: box-shadow 0.1s ease, transform 0.1s ease;
}

.tecla.activa,
.tecla:active {
  background-color: var(--morado);
  border: 4px solid var(--morado);
  box-shadow: 3px 3px 0 var(--moradoOscuro) inset;
  color: var(--blanco);
  outline: none;
  transform: translate(0, 0);
}

.tecla:focus {
  outline: none;
  box-shadow: 1px 1px 10px var(--violeta);
}

.tecla:active:focus {
  box-shadow: 3px 3px 0 var(--moradoOscuro) inset, 1px 1px 10px var(--violeta);
}